:host {
  --color-unchecked: var(--color-neutral-light-00);
  --border-color: var(--color-neutral-dark-70);
  --track-unchecked: var(--color-neutral-light-20);
  --color-checked: var(--color-action-default);
  --track-checked: var(--color-brand-01-light);
  --color-unchecked-hover: var(--color-brand-01-lightest);
  --color-checked-hover: var(--color-action-hover);
  --outline-color-focused: var(--color-action-focus);
  --color-unchecked-disabled: var(--color-neutral-light-20);
  --color-checked-disabled: var(--color-action-disabled);
}

/* Base */
.switch {
  background-color: transparent;
  border: none;
  display: block;

  position: relative;
  height: 1.5rem;
}

.switch-track {
  height: 1rem;
  width: 3rem;
  border-radius: 999px
}

.switch-key {
  border-width: var(--border-width-md);
  border-radius: 100%;
  border-style: solid;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.switch-icon::before {
  font-size: 1rem;
}


/* Normal - Unchecked */
:not(.checked) > .switch-track {
  background-color: var(--track-unchecked);
}

:not(.checked) > .switch-key {
  background-color: var(--color-unchecked);
  border-color: var(--border-color);
  left: 0;
}

:not(.checked) .switch-icon::before {
  display: none;
}


/* Normal - Checked */
.checked > .switch-track {
  background-color: var(--track-checked);
}

.checked > .switch-key {
  background-color: var(--color-checked);
  border-color: transparent;
  right: 0;
}

.checked .switch-icon::before {
  display: inline;
  color: var(--color-unchecked);
}


/* Hover */
.switch:hover {
  cursor: pointer;
}


/* Hover - Unchecked */
.switch:hover:not(.checked) > .switch-key {
  background-color: var(--color-unchecked-hover);
  border-color: var(--color-checked-hover);
}


/* Hover - Checked */
.switch:hover.checked > .switch-key {
  background-color: var(--color-checked-hover);
}


/* Focus */
.switch:focus {
  outline-color: var(--outline-color-focused);
  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;
}


/* Disabled */
.switch:disabled {
  cursor: not-allowed;
}

.switch:disabled > .switch-track {
  background-color: var(--track-unchecked);
}


/* Disabled - Unchecked */
.switch:disabled:not(.checked) > .switch-key {
  background-color: var(--color-unchecked-disabled);
  border-color: var(--color-checked-disabled);
}


/* Disabled - Checked */
.switch:disabled.checked > .switch-key {
  background-color: var(--color-checked-disabled);
}

.switch:disabled.checked  .switch-icon::before {
  color: var(--color-unchecked-disabled);
}