<div class="select-container" [ngClass]="selectClassNames">
  <select
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    [disabled]="disabled"
    (blur)="onTouched()"
    class="select"
    [attr.aria-labelledby]="labelId"
  >
    <option
      class="select-dropdown-option"
      [disabled]="true"
      [value]="null"
      *ngIf="placeholder"
    >
      {{ placeholder }}
    </option>
    <option
      class="select-dropdown-option"
      *ngFor="let option of options"
      [value]="option.value"
    >
      {{ option.label }}
    </option>
  </select>
  <i class="an an-caret-down select-icon"></i>
</div>
