:host {
  --font-family: var(--font-family-text);
  --font-size: var(--font-size-default);
  --text-color-empty: var(--color-neutral-light-30);
  --color: var(--color-neutral-dark-70);
  --background: var(--color-neutral-light-05);
  --padding-horizontal: 0.5rem;
  --padding-vertical: 0.7rem;
  
  --text-color: var(--color-neutral-dark-90);

  --color-hover: var(--color-action-hover);
  --background-hover: var(--color-brand-01-lightest);

  --color-focused: var(--color-action-default);
  --outline-color-focused: var(--color-action-focus);

  --color-disabled: var(--color-action-disabled);
  --background-disabled: var(--color-neutral-light-20);

  --color-error: var(--color-feedback-negative-base);
}

/* Normal */
.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color-empty);
  border-color: var(--color);
  background-color: var(--background);
  padding: var(--padding-vertical) var(--padding-horizontal);

  font-weight: var(--font-weight-normal);
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-md);
  border-style: solid;
  min-height: 2.75rem; 

  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select::-ms-expand {
  display: none;
}

.select-icon::before {
  position: absolute;
  top: 50%;
  right: var(--padding-horizontal);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: var(--color);
  font-size: 24px
}

.select-dropdown-option {
  color: var(--text-color);
}


/* Selected */

.select-selected > .select {
  color: var(--text-color);
}


/* Hover */
.select-container:hover > .select:not(:disabled) {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
  cursor: pointer;
}

.select-container:hover .select:not(:disabled) + .select-icon::before {
  color: var(--color-hover);
}


/* Focus */
.select-container:focus-within .select {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;
}

.select-container:focus-within .select:not(:disabled) + .select-icon::before {
  color: var(--color-focused);
}


/* Disabled */
.select:disabled {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  cursor: not-allowed;
}

.select-dropdown-option:disabled {
  color: var(--text-color-empty);
}

.select:disabled > .select-icon::before {
  color: var(--color-disabled);
}

/* Error */
.select-error > .select {
  border-color: var(--color-error);
  background-color: var(--background);
}

.select-error > .select-icon::before {
  color: var(--color-error);
}
