<div class="select-wrapper">
  <select
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    [disabled]="isDisabled"
    (blur)="onTouched()"
    class="select select-hide-default-caret"
    [ngClass]="selectClassNames"
  >
    <option
      class="select-option select-option-placeholder"
      disabled
      [value]="null"
      *ngIf="placeholder"
    >
      {{ placeholder }}
    </option>
    <option
      class="select-option"
      *ngFor="let option of options"
      [value]="option.value"
    >
      {{ option.label }}
    </option>
  </select>
  <i 
    class="an an-caret-down select-icon"
    [ngClass]="iconClassNames"
  >
  </i>
</div>
