:host {
  --font-family: var(--font-family-theme);
  --font-size: var(--font-size-default);
  --text-color-empty: var(--color-neutral-light-30);
  --color: var(--color-neutral-dark-70);
  --background: var(--color-neutral-light-05);
  --text-color: var(--color-neutral-dark-90);
  --padding-horizontal: 0.5rem;
  --padding-vertical: 0.7rem;

  --color-hover: var(--color-brand-01-dark);
  /* --background-hover: var(--color-brand-01-lighter); */
  --background-hover: var(--color-brand-01-lightest);

  --outline-color-focused: var(--color-action-focus);
  --color-focused: var(--color-action-default);

  --color-disabled: var(--color-neutral-light-30);
  --background-disabled: var(--color-neutral-light-20);

  --color-error: var(--color-feedback-negative-base);
  --background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 256 256' fill='%234a5c60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
}

.select {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
  border-color: var(--color);
  background-color: var(--background);
  padding: var(--padding-vertical) var(--padding-horizontal);

  font-weight: var(--font-weight-normal);
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-md);
  border-style: solid;
  min-height: 2.75rem; 

  width: 100%;
  
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: right var(--padding-horizontal, .5rem) center;
  background-size: 24px;
}

.select-hide-default-caret {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.select-hide-default-caret::-ms-expand {
  display: none;
}

.select:hover {
  border-color: var(--color-hover);
  background-color: var(--background-hover);
  cursor: pointer;
}

.select:focus {
  border-color: var(--color-focused);
  outline-color: var(--outline-color-focused);
  outline-width: var(--border-width-lg);
  outline-style: solid;
  outline-offset: 2px;
}

.select:disabled {
  border-color: var(--color-disabled);
  background-color: var(--background-disabled);
  cursor: not-allowed;
}

.select-error {
  border-color: var(--color-error);
  background-color: var(--background);
}

.select-selected {
  color: var(--text-color);
}

.select-icon {
  color: var(--color);
}

/* AQUI PRECISA SER UM HOVER WITHIN OU ALGO ASSIM */
.select-icon:hover {
  color: var(--color-hover);
}

/* AQUI PRECISA SER UM FOCUS WITHIN OU ALGO ASSIM */
.select-icon:focus {
  color: var(--color-focused);
}

/* AQUI PRECISA SER UM DISABLED WITHIN OU ALGO ASSIM */
.select-icon:disabled {
  color: var(--color-disabled);
}

/* AQUI PRECISA SER UM ERROR WITHIN OU ALGO ASSIM */
.select-icon-error {
  color: var(--color-error);
}

.select-option {
  color: var(--text-color);
}

.select-option {
  color: var(--text-color);
}

.select-option-placeholder {
  color: var(--color-disabled);
}
