<po-page-default p-title="PO UI">
  <div class="select-wrapper">
    <app-select
      [options]="options"
      [selectedValue]="selectedOption"
      (selectedValueChange)="onOptionSelected($event)"
      [placeholder]="'Choose an option'"
    >
    </app-select>
  </div>
  <div class="select-wrapper">
    <app-select
      [options]="options"
      [selectedValue]="selectedOption"
      (selectedValueChange)="onOptionSelected($event)"
      [placeholder]="'Error Select'"
      [error]="true"
    >
    </app-select>
  </div>
  <div class="select-wrapper">
    <app-select
      [options]="options"
      [selectedValue]="selectedOption"
      (selectedValueChange)="onOptionSelected($event)"
      [placeholder]="'Disabled Select'"
      [disabled]="true"
    >
    </app-select>
  </div>
  <!-- <app-switch /> -->
</po-page-default>
