<po-page-default p-title="PO UI">
  <div class="po-row">
    <div class="po-xs-6 column">
      <po-divider p-label="Select"></po-divider>
      <div class="item-wrapper">
        <label id="select-default-label" for="select-default">Default</label>
        <app-select
          [(ngModel)]="selectedOption"
          [options]="options"
          [placeholder]="'Choose an option'"
          labelId="select-default-label"
        >
        </app-select>
      </div>
      <div class="item-wrapper">
        <label id="select-disabled-label" for="select-disabled">Disabled</label>
        <app-select
          [(ngModel)]="selectedOption"
          [options]="options"
          [placeholder]="'Disabled'"
          [disabled]="true"
          labelId="select-disabled-label"
        >
        </app-select>
      </div>
      <div class="item-wrapper">
        <label id="select-with-error-label" for="select-with-error">With Error</label>
        <app-select
          [(ngModel)]="selectedOption"
          [options]="options"
          [placeholder]="'With Error'"
          [error]="true"
          labelId="select-with-error-label"
        >
        </app-select>
      </div>
      <div class="item-wrapper">
        <label id="select-without-placeholder-label" for="select-without-placeholder">Without Placeholder</label>
        <app-select [(ngModel)]="selectedOption" [options]="options" labelId="select-without-placeholder-label">
        </app-select>
      </div>
      <div class="item-wrapper">
        <label id="select-with-default-value-label" for="select-with-default-value">With Default Value</label>
        <app-select [(ngModel)]="selectedOption2" [options]="options" labelId="select-with-default-value-label" placeholder="With Default Value">
        </app-select>
      </div>
    </div>
    <div class="po-xs-6 column">
      <po-divider p-label="Switch"></po-divider>
      <div class="item-wrapper">
        <label id="switch-default-label" for="switch-default">Default</label>
        <div class="switch-with-label">
          <app-switch [(ngModel)]="switchValue" id="switch-default" labelId="switch-default-label"  />
          <p>{{ switchValue }}</p>
        </div>
      </div>
      <div class="item-wrapper">
        <label id="switch-disabled-label" for="switch-disabled">Disabled</label>
        <div class="switch-with-label">
          <app-switch [(ngModel)]="switchValue" [disabled]="true" id="switch-disabled" labelId="switch-disabled-label"/>
          <p>{{ switchValue }}</p>
        </div>
      </div>
      <div class="item-wrapper">
        <label>With aria label</label>
        <div class="switch-with-label">
          <app-switch [(ngModel)]="switchValue" label="With aria label"/>
          <p>{{ switchValue }}</p>
        </div>
      </div>
    </div>
  </div>
  <po-divider p-label="Use in a form"></po-divider>
  <div class="form">
    <app-simple-form />
  </div>
</po-page-default>
