.item-wrapper {
    margin-bottom: 1rem;
  }
  
  .column {
    flex: 1;
    padding-inline: 1rem;
  }
  
  .switch-with-label {
    display: flex;
  }
  
  .switch-with-label p {
    margin-left: 1rem;
  }
  
  .form {
    margin: 1rem;
  }
  
  .form p {
    margin-bottom: 1rem;
    font-size: 20px;
  }