<po-page-default p-title="PO UI">
  <div class="select-wrapper">
    <app-select
      [(ngModel)]="selectedOption"
      [options]="options"
      [placeholder]="'Choose an option'"
    >
    </app-select>
  </div>
  <div class="select-wrapper">
    <app-select
      [(ngModel)]="selectedOption"
      [options]="options"
      [placeholder]="'Disabled Select'"
      [disabled]="true"
    >
    </app-select>
  </div>
  <div class="select-wrapper">
    <app-select
      [(ngModel)]="selectedOption"
      [options]="options"
      [placeholder]="'Error Select'"
      [error]="true"
    >
    </app-select>
  </div>
  <div class="select-wrapper">
    <app-switch />
  </div>
  <div class="select-wrapper">
    <app-simple-form />
  </div>
</po-page-default>
